/* AuthPage.module.scss */
@import url('https://i.imgur.com/PLjQbV9.jpeg');

.AuthPage {
  margin: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  background-image: url('https://i.imgur.com/PLjQbV9.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2vmin;
  border: 5px solid var(--col-7);
}


.AuthTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
 
}

.AuthBottom {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align images to center vertically */
  padding: 20px;
  margin-top: auto;
}

.AuthBottomSpacer {
  flex: 1; /* Fill available space, pushing images to the bottom */
}


.ImageContainer {
  margin: 0 10px; /* Adjust margin between images */
}

.ImageContainer img {
  width: 200px; /* Adjust the image width */
  height: auto; /* Maintain aspect ratio */
  margin: 20px 0 0 5px; /* Adjust spacing between images */
  border: 2px solid var(--col-4);
  border-radius: 2vm;
}

.AuthPageLogo {
  margin-bottom: 20px;
}

