// src = '/img/name.png'


//alt text
//<image src ''/>
form-container {
    height: 22vmin;
    width: 32vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
   
}