.Logo {
    margin: 20px 0 0 0;
    height: 22vmin;
    width: 32vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--col-8);
    color: var(--col-1);
    font-size: 4.6vmin;
    font-family: 'Roboto', sans-serif;
    font-weight: 2.5vm;
    border: .4vmin dashed var(--col-7);
    }