.Logo {
    margin: 20px 0 0 0;
    height: 22vmin;
    width: 32vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--col-8);
    color: var(--col-1);
    font-size: 4.6vmin;
    font-weight: 2.5vm;
    border: .4vmin dashed var(--col-7);
    }

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  .Logo {
    /* Other styles for your Logo component */
    
    /* Apply the animation to the Logo component */
    animation: bounce 2s infinite;
  }
  